{{#> Dialog titleText="Загрузите файл" titleSize="normal" labelOk="Сохранить" dialogId="changeAvatarDialog" dialogClass="change-avatar-dialog"}}
  <form>
    {{> Input label="Выбрать файл на компьютере" name="avatar" type="file"}}
  </form>
{{/ Dialog}}