.dialogue {
  height: 100%;
  display: grid;
  grid-template-rows: 54px 1fr 54px;
  gap: 10px;
  padding: 0 20px;
}

.dialogue__partner {
  display: grid;
  grid-template-columns: 54px 1fr 25px;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
}

.dialogue__name {
  font-size: 13px;
  font-weight: 600;
  color: var(--text-color);
  text-overflow: ellipsis;
}

.dialogue__menu_wrapper {
  display: grid;
  row-gap: 16px;
  width: 180px;
  position: fixed;
  top: 65px;
  right: 10px;
  padding: 15px;
  border-radius: 12px;
  background: var(--bg-main-color);
  box-shadow: 0 0 6px 0 #00000024;
  cursor: pointer;
}

.dialogue__messages {
  height: calc(100vh - 128px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.dialogue__messages::before {
  content: "";
  flex: 1;
}

.message__date {
  margin: 30px auto;
  font-size: 12px;
  font-weight: 500;
  color: var(--text-secondary-color);
}

.message {
  position: relative;
  max-width: 380px;
  margin-bottom: 10px;
  padding: 11px;
  font-size: 12px;
  color: var(--text-color);
}

.message::after {
  content: "0000";
  opacity: 0;
}

.partner-message {
  background-color: var(--bg-fourth-color);
  border-radius: 0 12px 12px;
}

.user-message {
  background-color: var(--second-color);
  border-radius: 12px 12px 0;
  margin-left: auto;
}

.message__image {
  width: fit-content;
  max-width: 402px;
  padding: 0;
  overflow: hidden;
  background: var(--bg-main-color);
  border-radius: 12px;
  border: 1px solid var(--border-color);
}

.message__image::after {
  display: none;
}

.message__image img {
  display: block;
}

.message-datetime {
  position: absolute;
  right: 11px;
  bottom: 11px;
  font-size: 9px;
  line-height: 9px;
  color: var(--text-secondary-color);
}

.message__image .message-datetime {
  width: 37px;
  height: 9px;
  padding: 2px 0 1px;
  background-color: var(--bg-third-color);
  text-align: center;
  border-radius: 30px;
}

.user-message .message-datetime {
  color: var(--main-color)
}

.user-message .message-datetime::after {
  content: "";
  position: absolute;
  right: -6px;
  bottom: 3px;
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.dialogue__send-message {
  display: grid;
  grid-template-columns: 1fr 28px;
  gap: 10px;
  align-items: center;
}

.send-message__attachment {
  padding: 0;
}

.send-message__attachment .input__container {
  height: 32px;
}

.send-message__attachment input {
  display: none;
}

.send-message__attachment .input__label {
  width: 32px;
  height: 32px;
  background-image: url("@/assets/images/attachment_icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  cursor: pointer;
}

.send-message__attachment .input__element:not(:placeholder-shown)+.input__label {
  transform: none;
}

.send-message__text {
  padding: 0;
}
