<li class="card {{#if active}}card_active{{/if}}">
  {{> Avatar image=avatar}}
  <div class="card__name-datetime_wrapper">
    <div class="card__name">
      {{name}}
    </div>
    <div class="card__datetime">
      {{dateTime}}
    </div>
  </div>
  <div class="card__message-count_wrapper">
    <div class="card__message">
      {{#if (isEqual lastMessageOwner "you")}}<span>Вы:</span>{{/if}} {{truncate lastMessage 45}}
    </div>
    {{#if (not (isEqual newMessagesCount "0"))}}
      <div class="card__count">
        {{newMessagesCount}}
      </div>
    {{/if}}
  </div>
</li>
