.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  user-select: none;
}

.profile__wrapper {
  display: grid;
  padding: 15px 20px;
  width: 510px;
  gap: 40px;
}

.profile__back {
  position: fixed;
  left: 0;
  top: 0;
  padding: 18px;
  width: 29px;
  height: 100%;
  background-color: var(--bg-second-color);
  border-right: 1px solid var(--border-color);
}

.profile__face {
  display: grid;
  gap: 20px;
}
