.item_wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 22px 1fr;
  column-gap: 15px;
}

.item_wrapper img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.item_wrapper p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.1;
  color: var(--text-color);
}
