{{#> Dialog titleText="Добавить пользователя" titleSize="normal" labelOk="Добавить" dialogId="addUserDialog" dialogClass="add-user-dialog"}}
  <form>
    {{> Input label="Логин" name="login"}}
  </form>
{{/ Dialog}}
