{{#> Dialog titleText="Удалить пользователя" titleSize="normal" labelOk="Сохранить" dialogId="deleteAvatarDialog" dialogClass="delete-user-dialog"}}
  <form>
    {{> Input label="Логин" name="login"}}
  </form>
{{/ Dialog}}