<div class="dialog-container">
  <div class="dialog {{dialogClass}}" id={{dialogId}}>
    {{> Title size=titleSize text=titleText}}
    <div class="dialog__body {{#if noContent}}dialog__no-content{{/if}}">
      {{> @partial-block}}
    </div>
    <div class="dialog__footer">
      {{> Button label=labelOk type="primary"}}
      {{#if labelCancel}}
        {{> Button label=labelCancel type="link"}}
      {{/if}}
    </div>
  </div>
</div>
