<div class="avatar" >
  <div class="image__container {{#if size}}image__{{size}}{{/if}}">
    <img src="{{image}}" alt="Аватар" class="image">
    {{#if change}}
      <div class="image__change">
        Поменять<br>аватар
      </div>
    {{/if}}
  </div>
</div>