<div class="container">
  <div class="error__wrapper">
    {{> Title text=title size="large"}}
    {{> Title text=text size="normal"}}
    {{> Button label=buttonText type="link" page="list"}}
  </div>
</div>